$bg-color: #181818;

$gray0-color: #383838;
$gray1-color: #585858;
$gray2-color: #b8b8b8;
$gray3-color: #d8d8d8;

$fg-color: $gray2-color;

* {
  all: unset;
}

.bar {
  background-color: $bg-color;
}

.text {
  font-family: "IosevkaCustomNerdFontComplete Nerd Font, Varela Round";
  font-size: 14px;
  color: $fg-color;
}

.smol {
  @extend .text;
  font-size: 13px;
}

.big {
  @extend .text;
  font-size: 24px;
}

.icon {
  @extend .text;
  font-size: 17px;
  color: $gray2-color;
}

.time {
  @extend .text;
  font-size: 18px;
}

.text-normal {
  @extend .text;
}

.text-yellow {
  @extend .text;
  color: yellow;
}

.text-red {
  @extend .text;
  color: red;
}

.disk {
  @extend .text;
  padding: 0px 4px;
}

tooltip {
  @extend .text;
  background-clip: border-box;
  background-color: $bg-color;
  font-size: 17px;
  border: 1px solid $gray0-color;
  border-radius: 7px;
}

.circle {
  color: $gray2-color;
  background-color: $gray1-color;
}

.circle-normal {
  @extend .circle;
}

.circle-inverse {
  @extend .circle;
  color: $gray1-color;
  background-color: $gray2-color;
}

.circle-red {
  @extend .circle;
  color: red;
}

.circle-yellow {
  @extend .circle;
  color: yellow;
}

.circle-green {
  @extend .circle;
  color: green;
}

.temperature-box {
  margin: 3px 5px;
}

.temperature {
  $width: 7px;
  trough {
    min-height: 1px;
    background-color: $gray1-color;
    min-width: $width;
    progress {
      min-width: $width;
      background-color: $gray2-color;
    }
  }
}

.temperature-cold {
  @extend .temperature;
  trough {
    progress {
      background-color: cyan;
    }
  }
}

.temperature-normal {
  @extend .temperature;
}

.temperature-warm {
  @extend .temperature;
  trough {
    progress {
      background-color: yellow;
    }
  }
}

.temperature-hot {
  @extend .temperature;
  trough {
    progress {
      background-color: red;
    }
  }
}

.cpu-core-progress-box {
  margin: 3px 5px;
}

.cpu-text {
  @extend .text;
  font-size: 18px;
}

.cpu {
  $width: 4px;
  trough {
    min-height: 1px;
    background-color: $gray1-color;
    min-width: $width;
    progress {
      min-width: $width;
      background-color: $gray2-color;
    }
  }
}

.cpu-0 { @extend .cpu; $color: #3B82F6; color: $color; trough { progress { background-color: $color; } } }
.cpu-1 { @extend .cpu; $color: #0EA5E9; color: $color; trough { progress { background-color: $color; } } }
.cpu-2 { @extend .cpu; $color: #06B6D4; color: $color; trough { progress { background-color: $color; } } }
.cpu-3 { @extend .cpu; $color: #14B8A6; color: $color; trough { progress { background-color: $color; } } }
.cpu-4 { @extend .cpu; $color: #10B981; color: $color; trough { progress { background-color: $color; } } }
.cpu-5 { @extend .cpu; $color: #84CC16; color: $color; trough { progress { background-color: $color; } } }
.cpu-6 { @extend .cpu; $color: #FACC15; color: $color; trough { progress { background-color: $color; } } }
.cpu-7 { @extend .cpu; $color: #F59E0B; color: $color; trough { progress { background-color: $color; } } }
.cpu-8 { @extend .cpu; $color: #EF4444; color: $color; trough { progress { background-color: $color; } } }
.cpu-9 { @extend .cpu; $color: #991B1B; color: $color; trough { progress { background-color: $color; } } }
