* {
    font-family: "Iosevka Custom, Varela Round, monospace, sans-serif";
    font-weight: Normal;
    font-size: 16px;
}

window#waybar {
    /* border-radius: 16px; */
    background: #181818;
    color: #aaaaaa;
}

tooltip {
    background: #181818;
    border-radius: 10px;
}

tooltip label {
    color: #aaaaaa;
}

#mpris {
    padding: 4px 6px 4px 14px;
}

#disk,
#clock,
#memory,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#window,
#backlight {
    padding: 4px 16px;
    /* background-color: rgba(255, 255, 255, 0.08); */
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#temperature.critical {
    color: red;
}

#tags button {
    border-radius: 0;
    border: 2px solid;
    border-color: #aaaaaa;
    padding: 0px 0px;
    margin: 2px;
    min-width: 24px;
    background: #181818;
    transition: none;
}

#tags button.occupied {
    background: #555555;
}

#tags button.focused {
    background: #aaaaaa;
}

#tags button.urgent {
    background: #555500;
}
